{% extends 'base.html' %}

{% block title %}Список продуктов{% endblock title %}

{% block body %}
  <h1>Список продуктов</h1>

  <form method="get">
    <div class="col-3">
      <input type="number" placeholder="Цена от ..." class="form-control" name="price_from">
    </div>
    <div class="col-3">
       <input type="number" placeholder="Цена до ..." class="form-control" name="price_to">
    </div>
    <button class="btn" type="submit">Фильтровать</button>
  </form>

  {% for prod in products %}
    <p>{{ prod.id }}</p>
    <p><a href="{% url 'product-details' prod.id %}">{{ prod.name }}</a></p>
    <p>{{ prod.price }}</p>
    {% include 'add_to_cart_form.html' with product=prod %}
    <p>------------------</p>
  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Предыдущая</a></li>
      {% endif %}
      <li class="page-item disabled"><a class="page-link">{{ products.number }} из {{ products.paginator.num_pages }}</a></li>
      {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Следующая</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock body %}
